* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --textColorPrimary: whitesmoke;
    --textColorSecondary: #f5f5f5;
    --textColorTertiary: #e0e0e0;
    --colorPrimary: #1a1a1a;
    --colorSecondary: #333333;
    --colorTertiary: #404040;
}

h1 {
    font-family: Italiana;
    font-size: 100px;
    color: var(--textColorPrimary);
    padding: 50px;
}

body {
    background-color: rgba(0, 0, 0, 0.884);
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}